<aside id="aside" class="col-md-4">

    <form action="/posts/search" method="GET">
        <div class="widget">
            <div class="widget-search">
                <input class="search-input form-control" name="look" type="text" placeholder="Ara">
                <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>

    <!-- Category -->
    <div class="widget">
        <h3 class="mb-3">Kategoriler</h3>
        <div class="widget-category">
            {{#each categories}}
            <a href="/posts/category/{{_id}}">{{name}}<span>({{num_of_posts}})</span></a>
            {{/each}}
        </div>
    </div>

    <div class="widget">
        <h3 class="mb-3">Son Gönderiler</h3>
        {{#each (limit posts 3)}}
        <!-- single post -->
        <div class="widget-post">
            <a href="/posts/{{_id}}">
                <img class="img-fluid" src="{{post_image}}" alt="">{{title}}
            </a>
            <ul class="blog-meta">
                <li>{{generateDate date "MMM DD YYYY"}}</li>
            </ul>
        </div>
        {{/each}}
        <!-- /single post -->

    </div>
    <!-- /Posts sidebar -->

</aside>